*{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    gap: 20px;
}

header{
    margin-top: 2vh;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menuContainer{
    background-color: gray;
    padding: 5vh 6vw;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 0px 5vw;
}

#start{
    align-self: flex-end;
    padding: 7px 15px;
    border-radius: 10px;
}

#nameForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vw;

}

.playerContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nameInput{
    padding: 2px 4px;
    border-radius: 5px;
    border: none;
}
.topLabel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer{
    box-sizing: border-box;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 728px) {
    #nameForm{
        flex-direction: column;
        gap: 4vh;
    }

    #menuContainer{
        padding: 5vh 6vw ;
    }
}