*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    position: relative;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

main{
    position: relative;
    height: 100vh;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#curtain{
    position: absolute;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s  ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#curtain.closed{
    height: 0px;
}

#curtainContent{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;

}

#ready{
    border-radius: 10px;
    padding: 7px 15px;
}

#shipList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: space-around;
}

#shipSetup{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#board{
    width: 500px;
    height: 500px;
    background-color: black;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: auto;
    gap: 2px;
}

.cell{
    background-color: aqua;
}

.cell.ship{
    background-color: gray;
}

.hover.valid{
    background-color: green;
}

.hover.invalid{
    background-color: red;
}

#sideBar{
    display: flex;
    flex-direction: column;
}

#shipsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: gray;
    padding: 20px 3vw;
}

#orientacionContainer{
    border: none;
    width: min(25vw,300px);
    background-color: beige;
    padding: 10px;
}

#orientacionContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#legend{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.shipButton{
    padding: 7px 15px;
    font-size: 18px;
}

.shipInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description{
    height: 2rem;
    width: 270px;
}

#errorMessage{
    color: red;
    display: none;
}

.showError{
    display: block;
}