*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    position: relative;
    background-color: #6f8695;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    background-color: #cbcbd4;
    border-bottom: 4px solid #d4af37;
}

h2{
    font-size: 20px;
    color: #061e45;
}

#title{
    font-weight: 600;
    color: #061e45;
}

main{
    position: relative;
    height: 100vh;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#curtain{
    position: absolute;
    background-color: #05204a;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s  ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#curtain.closed{
    height: 0px;
}

#curtainContent{
    background-color: #cbcbd4;
    color: #061e45;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#ready{
    align-self: center;
    background-color: #05204a;
    color: #cbcbd4;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    box-shadow: 16px 9px 31px -11px rgba(0,0,0,0.76);
    -webkit-box-shadow: 16px 9px 31px -11px rgba(0,0,0,0.76);
    -moz-box-shadow: 16px 9px 31px -11px rgba(0,0,0,0.76);
}

#ready:active{
    outline: 4px solid #d4af37;
}

#ready:focus-visible{
    outline-color: #d4af37;
}

#shipList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: space-around;
}

#shipSetup{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#board{
    width: 450px;
    height: 425px;
    background-color: black;
    border: 5px solid #061e45;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: auto;
    gap: 2px;
    box-shadow: -31px 9px 57px -11px rgba(0,0,0,0.76);
    -webkit-box-shadow: -31px 9px 57px -11px rgba(0,0,0,0.76);
    -moz-box-shadow: -31px 9px 57px -11px rgba(0,0,0,0.76);
}

.cell{
    background-color: #c3e3eb;
}

.cell.ship{
    background-color: #8b9eb7;
}

.hover.valid{
    background-color:  #23DC3D;
}

.hover.invalid{
    background-color: #ff0f0f;
}

#sideBar{
    display: flex;
    flex-direction: column;
}

#shipsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f4fdff;
    border-radius: 10px;
    padding: 20px 3vw;
    box-shadow: 25px 17px 14px -7px rgba(0,0,0,0.68);
    -webkit-box-shadow: 25px 17px 14px -7px rgba(0,0,0,0.68);
    -moz-box-shadow: 25px 17px 14px -7px rgba(0,0,0,0.68);
}

#orientacionContainer{
    border: none;
    width: min(25vw,300px);
    background-color: #05204a;
    color: #f4fdff;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

#orientacionContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#legend{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.shipButton{
    padding: 7px 15px;
    font-size: 16px;
    color: #f4fdff;
    background-color: #05204a;
    border: 2px solid #36454f;;
    border-radius: 5px;
    box-shadow: 29px 42px 21px -28px rgba(0,0,0,0.84);
    -webkit-box-shadow: 29px 42px 21px -28px rgba(0,0,0,0.84);
    -moz-box-shadow: 29px 42px 21px -28px rgba(0,0,0,0.84);
}

.shipButton:focus-visible{
    outline: 3px solid #d4af37;
}

.shipButton:active{
    outline: 6px solid #d4af37;
}

.shipButton:disabled{
    background-color: #36454f;
    border: none;
    outline: none;
}
.shipInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description{
    height: 2.5rem;
    width: 270px;
}

#errorMessage{
    color: #ff0f0f;
    font-weight: 800;
    display: none;
}

#errorMessage.showError{
    display: block;
}

#buttonContainer{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#buttonContainer button{
    padding: 7px 15px;
    font-weight: 600;
}

#reset{
    background-color: #f4b393;
    border: 2px solid #c41e3a;
    border-radius: 5px;
}

#reset:focus-visible{
   outline: 2px solid white;
}

#reset:active{
    border: 3px solid #c41e3a;
}

#next{
    background-color: #90ee90;
    border: 2px solid #23DC3D;
    border-radius: 5px;
}

#next:focus-visible{
    outline: 2px solid white;
 }
 
 #next:active{
     border: 3px solid #23DC3D;
 }

 #next:disabled{
    background-color: #36454f;
    border: none;
    outline: none;
 }

footer{
    box-sizing: border-box;
    background-color: #cbcbd4;
    color: #061e45 ;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 4px solid #d4af37;
}

.selected{
    border: 3px solid #d4af37;
}


#mobileMenu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    font-size: 14px;
    width: 85vw;
    display: none;
    gap: 10px;
    align-items: center;
    height: 10vh;
  }

  #mobileMenu::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

@media (max-width:830px) {
    #sideBar{
        display: none;
    }

    #shipSetup{
        width: 100%;
    }

    #boardContainer{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #board{
        width: 90vw;
        height: 50vh;
    }

    #mobileMenu{
        display: flex;
    }

    #mobileMenu .shipButton{
        padding: 3px 7px;
    }

    .shipButton p{
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .shipButton p{
        font-size: 12px;
    }
}

